'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Comment Anchors'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'comment-anchors:toggle'
        }
      ]
    ]
  }
]
